BACKEND_API_URL=http://localhost:18080
NEXT_PUBLIC_APP_NAME=ReserveFlow
NEXT_PUBLIC_MAP_DEFAULT_LAT=55.751244
NEXT_PUBLIC_MAP_DEFAULT_LON=37.618423
NEXT_PUBLIC_MAP_DEFAULT_ZOOM=11
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=
NODE_ENV=development
